.app-container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgb(253, 125, 103);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}